<configuration>
    <property>
        <name>fs.s3a.access.key</name>
        <value>???</value>
    </property>
    <property>
        <name>fs.s3a.secret.key</name>
        <value>???</value>
    </property>
</configuration>
