{
  "id" : "eventsim-event-crawler",
  "connector" : "lucid.file",
  "type" : "file",
  "pipeline" : "eventsim-event-indexer",
  "parserId" : "eventsim-json-parser",
  "properties" : {
    "refreshOlderThan" : -1,
    "emitThreads" : 5,
    "diagnosticMode" : false,
    "refreshErrors" : false,
    "dedupeSaveSignature" : false,
    "crawlDBType" : "in-memory",
    "delete" : true,
    "initial_mapping" : {
      "id" : "FromMap",
      "mappings" : [],
      "reservedFieldsMappingAllowed" : false,
      "type" : "field-mapping",
      "skip" : false
    },
    "fetchDelayMS" : 0,
    "refreshAll" : true,
    "startLinks" : [ "DATA_DIR/control.data.json.zip" ],
    "failFastOnStartLinkFailure" : true,
    "f.minSizeBytes" : 0,
    "maxItems" : -1,
    "dedupe" : false,
    "chunkSize" : 50,
    "trackEmbeddedIDs" : true,
    "collection" : "music_rec_demo_signals",
    "deleteErrorsAfter" : -1,
    "forceRefresh" : false,
    "retryEmit" : true,
    "depth" : -1,
    "refreshStartLinks" : false,
    "f.maxSizeBytes" : 100000000,
    "f.addFileMetadata" : true,
    "aliasExpiration" : 1,
    "fetchThreads" : 5,
    "indexCrawlDBToSolr" : false,
    "restrictToTree" : true,
    "retainOutlinks" : false
  }
}
