{
  "id" : "crawl-local-20news-18828-dir",
  "type" : "lucidworks.fs",
  "parserId" : "_system",
  "properties" : {
    "addFileMetadata" : true,
    "includeDirectories" : false,
    "initialFilePaths" : [ "DATA_DIR" ],
    "collection" : "ml20news"
  },
  "created" : "2018-07-23T21:35:27.142Z",
  "modified" : "2018-07-23T21:39:35.495Z",
  "coreProperties" : {
    "fetchSettings" : {
      "fetchItemQueueSize" : 100,
      "numFetchThreads" : 4
    }
  },
  "pipeline" : "ml20news-default",
  "connector" : "lucidworks.fs"
}
